<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>Title</title>
</head>
<body>
{%block form_block %}

<div align="center">
    <h1 class="bg-primary text-white">This is Student Data Update Form</h1>
    <form method="POST" >
        <table class="table">
            <tr>
                <td><label class="btn btn-primary">Student Roll Number </label></td>
                <td><input type="text" name="id" value="{{data.id}}" disabled></td>
            </tr>
            <tr>
                <td><label class="btn btn-primary">Student Name </label></td>
                <td><input type="text" name="name" value="{{data.name}}"></td>
            </tr>
            <tr>
                <td><label class="btn btn-primary">Student Email ID </label></td>
                <td><input type="text" name="email" value="{{data.email}}"></td>
            </tr>
            <tr>
                <td><label class="btn btn-primary">Student Mobile Number </label></td>
                <td><input type="text" name="mobile" value="{{data.mobile}}"></td>
            </tr>
            <tr>
                <td><label class="btn btn-primary">Student Date of Birth </label></td>
                <td><input type="text" name="dob" value="{{data.dob}}"></td>
            </tr>
            <tr>
                <td><label class="btn btn-primary">Student Gender </label></td>
                <td><input type="text" name="gender" value="{{data.gender}}"></td>
            </tr>
        </table>


        <br>
        <br>
        <br>
        <input type="submit" value="Update" class="btn btn-success"/>
        {% csrf_token %}
    </form>

</div>
{% endblock %}
</body>
</html>